<nav class="mb-4 navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">E-Kart</a>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLink]="['']" routerLinkActive="active">
        <a class="nav-link"  >Products</a>
      </li>
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>

      <a class=" dropdown-toggle text-dark font-weight-bold " dropdownToggle>
       Welcome! Kunal
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/Cart']"><i class="fa fa-shopping-cart"></i>
          My Cart</a>
        <div class="dropdown-divider"></div>
        <!-- <i class="fa fa-shopping-cart"></i> -->
        <!-- <i class ="fa fa-sign-out"></i> -->
        <a class="dropdown-item" (click)="Logout($event)"><i class ="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
    <form *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" [formGroup]="loginForm">
      <input class="form-control mr-sm-2" type="text"  required name="Username"
      placeholder="Username" formControlName = "Username">
      <input class="form-control mr-sm-2" type="password" required name="Password"
      placeholder="Password" formControlName="Password">
      <button class="btn btn-success my-2 my-sm-0 mr-1" [disabled]="!loginForm.valid" type="submit">
        Login
      </button>
      <button class="btn btn-dark my-2 my-sm-0" (click)="Register()"type="button">
        SignUp
      </button>
    </form>

  </div>

</nav>
