<!-- style="overflow: auto; height: 450px; -->
<!-- <div class="row">

  <div class="col-sm-6" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My Cart ({{ cartItems.products.length }})</h5>
        <div class="card-body" *ngFor="let product of cartItems.products">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <img src="{{ product.image }}" height="70px" width="50px" />
                </td>
                <div>
                  <td style="text-align: justify;">{{ product.description }}</td>
                </div>
                <td>{{ cartItems.date | date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="card-footer" style="position:initial">
       <a href="#" class="d-flex btn btn-warning ">Place Order</a></div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Price Details</h5>

      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <h5 class="card-title"></h5>
  <div style="width:60%;">
    <div style="height: 70%;  overflow-y: scroll;" >
      <table class="table table-hover" *ngFor="let product of cartItems.products">
        <tbody>
          <tr>
            <td>
              <img src="{{ product.image }}" height="70px" width="50px" />
            </td>
            <div>
              <td style="text-align: justify;">{{ product.description }}</td>
            </div>
            <td>{{ cartItems.date | date }}</td>
          </tr>
          <tr><td>
            -&nbsp;+
          </td></tr>
        </tbody>
      </table>

    </div>   <div class="card-footer" style="position:initial">
      <a href="#" class="d-flex btn btn-warning ">Place Order</a></div>
  </div>

<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Price Details</h5>

    </div>
  </div>
</div>
</div> -->

<!-- <div class="row">
  <div *ngIf="cartItems.products.length>0" class="col-8">
    <h5 class="card-title">My Cart ({{ cartItems.products.length }})</h5>
    <table class="table" *ngFor="let product of cartItems.products">
      <tbody>
        <tr>
          <td>
            <img src="{{ product.image }}" height="70px" width="50px" />
          </td>
          <div>
            <td style="text-align: justify">{{ product.title }}</td>
          </div>
          <td>{{ cartItems.date | date }}</td>
        </tr>
        <button class="btn btn-danger" type="button" (click)="Remove(product)">Remove</button>
      </tbody>
    </table>
  </div>
  <div *ngIf="cartItems.products.length>0" class="col-4"><p>Total Price({{ cartItems.products.length }}) :{{totalPrice| number}}</p>
  <p>Discount :{{discount}}</p>
<p>Delivery Charges :{{deliveryCharges}}</p>
<p>TotalAmount :{{totalAmount| number}}</p></div>
</div>
<div *ngIf="cartItems.products.length<=0">
  <p>It seems your cart is Empty!! Have a look on our Products.....</p>
  <button class="btn btn-success" [routerLink]="['']">Shop Now </button>
</div> -->

<div class="container">
  <div *ngIf="cartItems.products.length === 0" class="text-center my-5">
    <h4>Your Cart Is Empty</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
  </div>

  <div *ngIf="cartItems.products.length !== 0">
    <div class="d-flex justify-content-between align-items-center">
      <p>My Cart ({{ cartItems.products.length }})</p>
    </div>
    <div class="row">
      <div style="height: 300px; overflow-y: scroll;" class="col my-4">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of cartItems.products">
              <td class="d-flex align-items-center justify-content-around">
                <img [src]="product.image" alt="{{product.title}}" height="60" class="order-1">
                <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"
                    (click)="Remove(product)"></i></span>
              </td>
              <td><a [routerLink]="['/product/',product.id]">{{product.title}}</a></td>
              <td>
                <p>{{product.price | currency:'USD'}}</p>
              </td>
              <td>
                <form>
                  <div class="value-button" id="decrease" (click)="decreaseQty(product)">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="number" id="number" value={{product.quantity}} />
                  <div class="value-button" id="increase" (click)="increaseQty(product)">
                    <i class="fa fa-plus"></i>
                  </div>
                </form>
              </td>
              <td>
                <p>{{product.price * product.quantity | currency:'USD'}}</p>
              </td>
            </tr>
            <tr class="border-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>{{totalAmount | currency:'USD'}}</td>

            </tr>

          </tbody>
        </table>
      </div>

      <div class="col-md-12 d-flex ">
        <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
          <a [routerLink]="['checkout']" class="btn btn-danger btn-sm order-1">Checkout</a>
          <a routerLink="/" class="btn btn-success btn-sm order-0">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>

</div>
